body {
background-color: #bfcada;
}
hr{
    border-color: rgb(70, 38, 38);
    border-style: none;
    border-top-style: dotted;
    border-width: 3px;
    width: 10%;
}
img:hover{
    height: 255x;
    background-color: gold;
}
#name:hover{
    color: rgb(148, 11, 11);
    size: 250px;

}